<table class="mx-auto table-auto" content>
    <thead>
        <tr>
            <th class="p-4 pt-0 pb-3 font-medium text-left border-b first:ps-8 last:pe-8 dark:border-slate-600 text-slate-400 dark:text-slate-200">ID</th>
            <th class="p-4 pt-0 pb-3 font-medium text-left border-b first:ps-8 last:pe-8 dark:border-slate-600 text-slate-400 dark:text-slate-200">Nome</th>
            <th class="p-4 pt-0 pb-3 font-medium text-left border-b first:ps-8 last:pe-8 dark:border-slate-600 text-slate-400 dark:text-slate-200">Criação em</th>
            <th class="p-4 pt-0 pb-3 font-medium text-left border-b first:ps-8 last:pe-8 dark:border-slate-600 text-slate-400 dark:text-slate-200">Atgualizado em</th>
        </tr>
    </thead>
    <tbody class="bg-white dark:bg-slate-800">
        <tr>
            <td class="p-4 border-b first:ps-8 last:pe-8 border-slate-100 dark:border-slate-700 text-slate-500 dark:text-slate-400">01</td>
            <td class="p-4 border-b first:ps-8 last:pe-8 border-slate-100 dark:border-slate-700 text-slate-500 dark:text-slate-400">Fruta</td>
            <td class="p-4 border-b first:ps-8 last:pe-8 border-slate-100 dark:border-slate-700 text-slate-500 dark:text-slate-400">20/08/2024</td>
            <td class="p-4 border-b first:ps-8 last:pe-8 border-slate-100 dark:border-slate-700 text-slate-500 dark:text-slate-400">30/08/2024</td>
        </tr>
    </tbody>
</table>